Statements:
1. Employees of Fun Tech-R-Us should never be allowed to update their salary information in the company's system.  Such an attempt should be reported to the security administrator.
* Not a requirement
2. The application should be developed in the programming language COBOL.
* constraint
3. The Eye-See-You iris scanning application should authenticate a customer in 10 seconds or less.
* Non - functional
4. The client, UVA Registrar, requests that all UVA students should be able to log in securely to the SuperSIS software using the UVA Netbadge authentication module.
* Constraint 
5. The vehicle tracking system measures the speed of the vehicle.
* functional
6. The vehicle tracking system measures the speed with a precision of +/- 0.016 mph.
* non-functional
7. The pages of the website must take less than 850 ms to load.
* non-functional